@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex {
    display: flex;

}

.text-primary {
    color: #FF900E;
}

/* dark 01 */
.text-black {
    color: #131313;
}

/* dark 02 */
.text-gray {
    color: #424242;

}

/* dark 03 */
.text-light-gray {
    color: #727272;

}

.bg-light {
    background-color: #ff900e1a;

}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #FF900E;

}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;

}

/* header style */
/* navbar */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0px;

}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
}

.menue-bar {
    list-style: none;
    gap: 30px;

}

.menue {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content {
    max-width: 850px;
    margin: 100px auto 0;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;

}

.banner-info {
    margin: 32px 0 32px;
}

.banner-img-contaienr {
    padding: 50px 0px 45px;
}

.banner-img,
.quick-list-img,
.feature-img {
    width: 100%;

}

/* main area */
main {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;

}

section {
    margin-top: 130px;
}


/* quick list section */
.quick-list {
    padding: 0px 60px;
    align-items: center;
    gap: 70px;
}

.quick-list-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1;

}

.quick-list-content {
    max-width: 537px;
    flex: 1;
}

#gray-portion {
    font-weight: 500;
}


.quick-list-info {
    margin: 24px 0 32px;
}

/* feture section style */
.our-features {
    justify-content: space-between;
    align-items: center;
    gap: 140px;

}

.features-content,
.features-img-container {
    flex: 1;
    position: relative;

}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-info {
    margin: 24px 0px 30px;
}

.feature-card-container {
    display: grid;
}

.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px #0000000f;
}

.feature-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience-badge {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -70px;
    left: -92px;
}


#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

/* facta style */
.some-facts-info,
.our-sponsor-info {
    max-width: 542px;
    margin-top: 24px;
}

.facts-card-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}

.facts-card {
    width: 15rem;
    height: 15rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts-card-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-card-info {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}


/* our sponsors related style */
.our-sponsor {
    text-align: center;

}


.our-sponsor-info {
    margin: 24px auto;
}

.sponsors-logo-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;


}

.sponsors-logo-container>img {
    filter: grayscale(100%);

}

.copyright-info {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    font-size: 1.25rem;
    text-align: center;
}


footer {
    padding: 130px 0;

}


/* responsive for medium devices */
@media screen and (min-width: 668px) and (max-width:992px) {

    .facts-card-container,
    .sponsors-logo-container,
    .feature-card-container {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }

    .our-features,
    .facts-card-container,
    .sponsors-logo-container {
        gap: 100px;
    }

    .quick-list,
    .our-features,
    .navbar {
        flex-direction: column;
    }

    .quick-list {
        text-align: center;

    }

    .quick-list-content {
        margin: 0 auto;
    }

    /* header responsive */
    .navbar {
        gap: 30px;
    }

    /* feature section responsive */
    .feature-card-container {
        column-gap: 50px;
        padding: 0px 50px;
        margin-top: 50px;
    }

    .features-info {
        max-width: 645px;
    }

    .experience-badge {
        position: relative;
        width: 290px;
        height: 160px;
        font-size: 1.2rem;
        bottom: 83px;
        left: -0px;
    }

    #experience-year {
        font-size: 2.5rem;
    }

    /* facts section responsive */
    .facts-card{
        height: 12rem;
    }

    /* sponsors section */
    .sponsors-logo-container>img {
        width: 80%;
    }

    /* footer responsive */
    footer {
        padding: 100px 0 0;
    }

    .copyright-info {
        padding: 120px;
        border-radius: 0px;

    }

}



/* media query for small devices */
@media screen and (max-width: 668px) {
    section {
        margin-top: 80px;
    }

    .navbar,
    .menue-bar,
    .our-features {
        flex-direction: column;
    }

    .section-title,
    #experience-year,
    .brand-name {
        font-size: 2rem;
    }

    .banner-info,
    .quick-list-info,
    .features-info,
    .feature-card-info {
        font-size: 0.85rem;
    }

    .btn-primary,
    .copyright-info,
    .menue {
        font-size: 1rem;
    }

    /* header section responsive */
    .navbar {
        text-align: center;
    }

    .banner-content {
        margin-top: 70px;

    }

    .banner-img-contaienr {
        padding-bottom: 30px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    /* quick list section responsive */

    .quick-list {
        padding: 0;
         flex-direction: column-reverse;

    }

    .quick-list-img-container,
    .facts-card-container,
    .sponsors-logo-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* features section responsive */
    .our-features,
    .sponsors-logo-container {
        gap: 50px;
    }

    .facts-card-container,
    .navbar {
        gap: 24px;
    }

    .experience-badge {
        position: relative;
        margin: 0 auto;
        width: 220px;
        height: 110px;
        font-size: 1rem;
        bottom: 0px;
        left: 0px;
    }

    /* some facts section responsive */
    .facts-card-container {
        margin-top: 70px;

    }

    .facts-card {
        width: 15rem;
        height: 10rem;

    }

    /* sponsors section responsive */
    .sponsors-logo-container {
        justify-items: center;
    }

    .sponsors-logo-container>img {
        width: 20%;

    }

    /* footer responsive */
    footer {
        padding: 100px 0 0;
    }

    .copyright-info {
        padding: 80px;
        border-radius: 0px;

    }


}