@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex {
    display: flex;

}

/* dark 01 */
.text-black{
    color: #131313;
}

/* dark 02 */
.text-gray {
    color: #424242;

}

/* dark 03 */
.text-light-gray {
    color: #727272;

}

.bg-light{
    background-color: #ff900e1a;

}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #FF900E;

}

/* header style */
/* navbar */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.brand-name{
    font-size: 2.8rem;
    font-weight: 700;
}

.menue-bar {
    list-style: none;

}

.menue {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 30px;
}

.navbar,.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 100px auto 0;
    text-align: center;

}

.banner-title{
    font-size: 4rem;
    font-weight: 700;

}

.banner-info{
    margin: 32px 0 32px ;
}

.banner-img-contaienr{
    padding: 50px 0px 45px;
}

.banner-img-contaienr>img{
    width: 100%;
    
}