@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex {
    display: flex;

}

/* dark 01 */
.text-black {
    color: #131313;
}

/* dark 02 */
.text-gray {
    color: #424242;

}

/* dark 03 */
.text-light-gray {
    color: #727272;

}

.bg-light {
    background-color: #ff900e1a;

}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #FF900E;

}

/* header style */
/* navbar */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
}

.menue-bar {
    list-style: none;
    gap: 30px;

}

.menue {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content {
    max-width: 850px;
    margin: 100px auto 0;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;

}

.banner-info {
    margin: 32px 0 32px;
}

.banner-img-contaienr {
    padding: 50px 0px 45px;
}

img {
    width: 100%;

}

/* main area */
main {
    max-width: 1440px;
    margin: 0 auto;

}

section {
    margin-top: 130px;
}


/* quick list section */
.quick-list {
    padding: 0px 60px;
    align-items: center;
    gap: 70px;
}

.quick-list-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1;

}

.quick-list-content {
    max-width: 537px;
    flex: 1;
}

.quick-list-title {
    font-size: 2.8rem;
    font-weight: 500;

}

#black-portion,
#orange-portion {
    font-weight: 700;
}

#orange-portion {
    color: #FF900E;
}

.quick-list-info {
    margin: 24px 0 32px;
}




/* media query for small devices */
@media screen and (max-width: 576px) {

    .navbar,
    .menue-bar,
    .quick-list {
        flex-direction: column;
    }

    .quick-list-title {
        font-size: 1.8rem;
    }

    .quick-list-info {
        font-size: 0.85rem;
    }

    /* quick list section responsive */
    main {
        width: 95%;
    }

    .quick-list {
        padding: 0;
    }

    .quick-list-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media screen and (576px<=width <=992px) {
    .quick-list {
        flex-direction: column;
    }

    main {
        width: 95%;
    }

    .quick-list {
        padding: 0;
        text-align: center;
        align-items: stretch;
    }

    .quick-list-content {
        margin: 0 auto;
    }
}